.myClass {
  padding: 2rem;
  color: var(--mui-palette-text-primary);
}

.signup {
  text-align: center;
  margin-top: 1.5rem !important;
}

.login-card {
  width: 34rem;
  padding: 4rem;
  margin: 4rem auto;
}
