.message-container {
  display: flex;
  margin-bottom: 0.5rem;
  padding: 6px 10px;
}

.message-container-self {
  justify-content: end;
}

.message-container-other {
  justify-content: start;
}

.message-self {
  text-align: right;
  padding-bottom: 0 !important;
  border-radius: 1rem !important;
  background-color: var(--mui-palette-messageSelf-background) !important;
  color: var(--mui-palette-messageSelf-text) !important;
}

.message-other {
  background: var(--mui-palette-messageOther-background) !important;
  color: var(--mui-palette-messageOther-text) !important;
  padding-bottom: 0 !important;
  border-radius: 1rem !important;
  position: relative;
}

/* .message-other::after {
  content: "";
  position: absolute;
  left: -8px;
  top: 10px;
  border: 8px solid transparent;
  border-right-color: #eee;
} */

.message-other .message-timestamp {
  text-align: right;
  color: var(--mui-palette-messageOther-subtext);
}

.message-self .message-timestamp {
  text-align: right;
  color: var(--mui-palette-messageSelf-subtext);
}

.message-content {
  padding-top: 0.5rem !important;
  padding-bottom: 0.25rem !important;
  white-space: pre-line;
}
